<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>DUL | Use Restrictions Questions</strong>
            </mat-panel-title>
            <mat-panel-description>
                DUL Form to grant or reject permissions
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="dulForm" (submit)="submitConsentForm()" (change)="submitConsentForm()">

            <div fxFlex fxLayout="column wrap" fxLayoutGap="1em">

                <div fxLayout="column" fxLayoutGap="0.5em" style="border: 3px solid blue; padding: 0.3em">

                    <div class="orsp-box">
                        <label>Data is available for future general research use [GRU]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="generalUse" (change)="change('generalUse', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <label>Data is limited for health/medical/biomedical research [HMB]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="hmbResearch" (change)="change('hmbResearch',$event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <div>
                            <label class="control-label rp-choice-questions">
                                Future use is limited to research involving the following disease area(s) [DS]
                            </label>
                        </div>

                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList>

                                <mat-chip *ngFor="let disease of diseases" [selectable]="selectable" [removable]="removable" (removed)="remove(disease)">
                                    {{ disease.label }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>

                                <input placeholder="Diseases..." #fruitInput [formControl]="diseasesCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">

                            </mat-chip-list>

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let disease of filteredDiseases" [value]="disease">
                                    <div fxLayout="column">
                                        <span>
                                            <strong>{{ disease.label}}</strong>
                                        </span>
                                        <!-- <span>{{ disease.id }}</span>
                                    <span>{{ disease.alias }}</span>
                                    <span>{{ disease.definition }}</span> -->
                                    </div>
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>

                    </div>

                    <div class="orsp-box">
                        <label>Future use of population origins or ancestry is prohibited [POA]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="populationOriginsAncestry" (change)="change('populationOriginsAncestry', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutGap="0.5em" style="border: 3px solid green; padding: 0.3em">

                    <div class="orsp-box">
                        <label>Future commercial use is prohibited [NCU]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="commercialUse" (change)="change('commercialUse', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <label>Future use for methods research (analytic/software/technology development) is prohibited [NMDS]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="methodsResearch" (change)="change('methodsResearch', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutGap="0.5em" style="border: 3px solid red; padding: 0.3em">

                    <div class="orsp-box">
                        <label>Future use of aggregate-level data for general research purposes is prohibited [NAGR]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="aggregateResearch" (change)="change('aggregateResearch', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <label>Future as a control set for diseases other than those specified is prohibited [CTRL]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="controlSetOption" (change)="change('controlSetOption', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <label>Future use is limited to research involving a particular gender [RS-M] / [RS-FM]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="gender" (change)="change('gender', $event)">
                            <mat-radio-button value="Male">Male</mat-radio-button>
                            <mat-radio-button value="Female">Female</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="orsp-box">
                        <label>Future use is limited to pediatric research [RS-PD]</label>
                        <div fxFlex></div>
                        <mat-radio-group fxLayout="row" formControlName="pediatric" (change)="change('pediatric', $event)">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                            <mat-radio-button value="NA">N/A</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>
        </form>

    </mat-expansion-panel>

</mat-accordion>