<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                DUL | Use Restrictions Questions
            </mat-panel-title>
            <mat-panel-description>
                DUL Form to grant or reject permissions 
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="dulForm" (submit)="submitConsentForm()" (change)="submitConsentForm()">

            <div fxFlex fxLayout="column wrap" fxLayoutGap="1em">

                <mat-checkbox formControlName="generalUse">
                    Data is available for future general research use
                </mat-checkbox>

                <div>
                    <label class="control-label rp-choice-questions">Future use is limited to research involving the following disease area(s):
                    </label>
                </div>
                <pre>Ontologies: {{ontologiesSelectedLabels | json}}</pre>

                <div >
                    <div >
                        <p-autoComplete formControlName="ontologiesSelectedLabels" name="ontologiesSelectedLabels" [suggestions]="ontologies" (completeMethod)="getFilteredOntologies($event)"
                            (onSelect)="typeaheadOnSelect($event)" styleClass="wid100" [minLength]="3" placeholder="Choose any number of Disease Ontology or none."
                            field="label" [delay]="500" [multiple]="true">
                        </p-autoComplete>
                    </div>
                    <button mat-raised-button color="primary" type="button" (click)="clearOntologies()">
                        Clear ontologies
                    </button>
                </div>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                            {{fruit}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="typeaheadOnSelect($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div [hidden]="typeaheadLoading!==true">
                    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                </div>

                <div [hidden]="typeaheadNoResults!==true" class="" style="">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>

                <div fxLayout="column" fxLayoutGap="0.5em">

                    <mat-checkbox formControlName="commercialUseExcluded">
                        Future use by for-profit entities is prohibited
                    </mat-checkbox>

                    <mat-checkbox formControlName="methodsResearchExcluded">
                        Future use for methods research (analytic/software/technology development) is prohibited
                    </mat-checkbox>

                    <mat-checkbox formControlName="aggregateResearchExcluded">
                        Future use of aggregate-level data for general research purposes is prohibited
                    </mat-checkbox>

                </div>

                <div >

                    <div>
                        <label>Future use is limited to research involving a particular gender</label>
                    </div>

                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="norestrictions">
                            No
                        </mat-radio-button>
                        <mat-radio-button value="male">
                            Male
                        </mat-radio-button>
                        <mat-radio-button value="female">
                            Female
                        </mat-radio-button>
                    </mat-radio-group>

                </div>

                <div fxLayout="column" fxLayoutGap="0.5em">
                    <mat-checkbox formControlName="controlSetExcluded">
                        Future as a control set for diseases other than those specified is prohibited
                    </mat-checkbox>

                    <mat-checkbox formControlName="pediatricLimited">
                        Future use is limited to pediatric research
                    </mat-checkbox>
                </div>

            </div>
        </form>

    </mat-expansion-panel>

</mat-accordion>