<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        DUL Info
      </mat-panel-title>
      <mat-panel-description>
        DUL JSON Before translation
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- <textarea style="width: 100%" [(ngModel)]="dulInfo" (change)="onDulInfoChange($event)"  rows="10"></textarea> -->
    <textarea style="width: 100%" [(ngModel)]="dulInfo" rows="10"></textarea>
    <button mat-raised-button color="primary" (click)="applyChanges()">Apply Changes</button>
  </mat-expansion-panel>

</mat-accordion>