<div class="panel-heading cm-boxhead dul-color">
    <h4 class="panel-title dul-color"><b>DUL | Use Restrictions Questions</b></h4>
</div>
<div class="panel-body cm-boxbody">
    <form class="ui form" [ngFormModel]="consentForm" (submit)="submitConsentForm()" (change)="submitConsentForm()">
        <fieldset>
            <div class=" form-group ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input [(ngModel)]="orsp.generalUse" id="generalUse" ngControl="generalUse" #generalUse type="checkbox" class="checkbox-inline"
                        name="generalUse">
                        <label class="regular-checkbox" for="generalUse">
                            <span>Data is available for future general research use</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="control-label rp-choice-questions">Future use is limited to research involving the following disease area(s):
                </label>
            </div>
            <pre>Ontologies: {{ontologiesSelectedLabels | json}}</pre>
            <div class="row">               
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <input [(ngModel)]="asyncSelected"
                        [typeahead]="getAsyncData(getContext())" 
                        [typeaheadOptionField]="'label'" 
                        (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        (typeaheadLoading)="changeTypeaheadLoading($event)"
                        (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                        [typeaheadOptionsLimit]="100"
                        placeholder="Choose any number of Disease Ontology or none."
                        class="form-control">
                </div>
                <button type="button" (click)="clearOntologies()" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 btn" style="background-color: #cccccc; color: #666666;">
                    Clear ontologies
                </button>
            </div>
  
            <div [hidden]="typeaheadLoading!==true">
                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
            </div>
            <div [hidden]="typeaheadNoResults!==true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input id="commercialUseExcluded" name="commercialUseExcluded" type="checkbox" [(ngModel)]="orsp.commercialUseExcluded" ngControl="commercialUseExcluded"
                        class="checkbox-inline">
                        <label class="regular-checkbox" for="commercialUseExcluded">
                            <span>Future use by for-profit entities is prohibited</span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input id="methodsResearchExcluded" name="methodsResearchExcluded" type="checkbox" [(ngModel)]="orsp.methodsResearchExcluded"
                        ngControl="methodsResearchExcluded" class="checkbox-inline">
                        <label class="regular-checkbox" for="methodsResearchExcluded">
                            <span>Future use for methods research (analytic/software/technology development) is prohibited</span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input id="aggregateResearchExcluded" name="aggregateResearchExcluded" type="checkbox" [(ngModel)]="orsp.aggregateResearchExcluded"
                        ngControl="aggregateResearchExcluded" class="checkbox-inline">
                        <label class="regular-checkbox" for="aggregateResearchExcluded">
                            <span>Future use of aggregate-level data for general research purposes is prohibited</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label rp-choice-questions">Future use is limited to research involving a particular gender
                    </label>
                </div>

                <div class="radio-inline">
                    <input id="gender_none" type="radio" ngControl="gender" name="gender" #gender_none class="regular-radio" value="no restrictions" [ngModel]="{checked: orsp.gender === 'no restrictions' ? '' : null}"
                    (change)="orsp.gender = gender_none.value">
                    <label for="gender_none"></label>
                    <label for="gender_none" class="radio-button-text">No</label>
                </div>

                <div class="radio-inline">
                    <input id="gender_male" type="radio" ngControl="gender" name="gender" #gender_male class="regular-radio" value="male" [ngModel]="{checked: orsp.gender === 'male' ? '' : null}"
                    (change)="orsp.gender = gender_male.value">
                    <label for="gender_male"></label>
                    <label for="gender_male" class="radio-button-text">Male</label>
                </div>

                <div class="radio-inline">
                    <input id="gender_female" type="radio" ngControl="gender" name="gender" #gender_female class="regular-radio" value="female" [ngModel]="{checked: orsp.gender === 'female' ? '' : null}"
                    (change)="orsp.gender = gender_female.value">
                    <label for="gender_female"></label>
                    <label for="gender_female" class="radio-button-text">Female</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input id="controlSetExcluded" name="controlSetExcluded" type="checkbox" [(ngModel)]="orsp.controlSetExcluded" ngControl="controlSetExcluded"
                        class="checkbox-inline">
                        <label class="regular-checkbox" for="controlSetExcluded">
                            <span>Future as a control set for diseases other than those specified is prohibited</span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <input id="pediatricLimited" name="pediatricLimited" type="checkbox" [(ngModel)]="orsp.pediatricLimited" ngControl="pediatricLimited"
                        class="checkbox-inline">
                        <label class="regular-checkbox" for="pediatricLimited">
                            <span>Future use is limited to pediatric research</span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
