<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>DAR | Use Restrictions Questions</strong>
            </mat-panel-title>
            <mat-panel-description>
                DAR Form to ask for permissions
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form fxLayout="column" fxLayoutGap="1em" [formGroup]="darForm" (change)="submitDarForm()" (submit)="submitDarForm()">

            <div fxLayout="column" fxLayoutGap="0.5em">

                <div>
                    <label>2.4 Type of Research
                        <small class="italic">(Select all applicable options)</small>
                    </label>
                </div>

                <div>
                    <mat-checkbox formControlName="diseases" (change)="change('diseases', $event)">
                        <b>2.4.1 Disease-related studies: </b>
                    </mat-checkbox>
                    <span>
                        The primary purpose of the research is to learn more about a particular disease or disorder (e.g., type 2 diabetes), a trait
                        (e.g., blood pressure), or a set of related conditions (e.g., autoimmune diseases, psychiatric disorders).
                    </span>
                </div>

                <div>
                    <mat-checkbox formControlName="methods">
                        <b>2.4.2 Methods development and validation studies: </b>
                    </mat-checkbox>
                    <span>The primary purpose of the research is to develop and/or validate new methods for analyzing or interpreting
                        data (e.g., developing more powerful methods to detect epistatic, gene-environment, or other types
                        of complex interactions in genome-wide association studies). Data will be used for developing and/or
                        validating new methods.
                    </span>
                </div>

                <div>
                    <mat-checkbox formControlName="controls">
                        <b>2.4.3 Controls: </b>
                    </mat-checkbox>
                    <span>The reason for this request is to increase the number of controls available for a comparison group (e.g.,
                        a case-control study).
                    </span>
                </div>

                <div>
                    <mat-checkbox formControlName="population">
                        <b>2.4.4 Population structure or normal variation studies: </b>
                    </mat-checkbox>
                    <span>The primary purpose of the research is to understand variation in the general population (e.g., genetic
                        substructure of a population).
                    </span>
                </div>

                <div>
                    <mat-checkbox formControlName="hmb">
                        <b>2.4.5 Health/medical/biomedical research: </b>
                    </mat-checkbox>
                    <span>The primary purpose of the study is to investigate a health/medical/biomedical (or biological) phenomenon
                        or condition.
                    </span>
                </div>

                <div>
                    <mat-checkbox formControlName="poa">
                        <b>2.4.6 Population origins or ancestry research: </b>
                    </mat-checkbox>
                    <span>The outcome of this study is expected to provide new knowledge about the origins of a certain population
                        or its ancestry.
                    </span>
                </div>

                <mat-checkbox formControlName="other">
                    <b>2.4.7 Other</b>
                </mat-checkbox>

                <mat-form-field *ngIf="darForm.get('other').value===true">
                    <input matInput formControlName="othertext" #othertext placeholder="If selected, please specify.">
                </mat-form-field>

            </div>

            <div class="duos-box">

                <div>
                    <label class="control-label rp-choice-questions">2.5 Please state the disease area(s) this study focus on
                    </label>
                </div>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList>

                        <mat-chip *ngFor="let disease of diseases" [selectable]="selectable" [removable]="removable" (removed)="remove(disease)">
                            {{ disease.label }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>

                        <input placeholder="Diseases..." #fruitInput [formControl]="diseasesCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">

                    </mat-chip-list>

                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let disease of filteredDiseases" [value]="disease">
                            {{ disease.label }}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>

            </div>

            <div>
                <label>3. Research Purpose Statement</label>
            </div>

            <div class="duos-box">
                <label>3.1.1 Will this data be used exclusively or partially for a commercial purpose?</label>
                <div fxFlex></div>
                <mat-radio-group fxLayout="row" formControlName="forProfit" (change)="change('forProfit', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label>3.1.2 Please indicate if this study is limited to one gender?</label>
                <div fxFlex></div>
                <mat-radio-group fxLayout="row" formControlName="gender" (change)="change('gender', $event)">
                    <mat-radio-button value='NG'>No</mat-radio-button>
                    <mat-radio-button value='F'>Female</mat-radio-button>
                    <mat-radio-button value='M'>Male</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.3 Please indicate if this study is restricted to a pediatric population (under the age of 18)?</label>
                <div fxFlex></div>
                <mat-radio-group fxLayout="row" formControlName="pediatric" (change)="change('pediatric', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.4 Does the research aim involve the study of illegal behaviors (violence, domestic abuse, prostitution,
                    sexual victimization)?
                </label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="illegalbehave" (change)="change('illegalbehave', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.5 Does the research aim involve the study of alcohol or drug abuse, or abuse of other addictive products?
                </label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="addiction" (change)="change('addiction', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.6 Does the research aim involve the study of sexual preferences or sexually transmitted diseases?</label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="sexualdiseases" (change)="change('sexualdiseases', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.7 Does the research aim involve the study of any stigmatizing illnesses?</label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="stigmatizediseases" (change)="change('stigmatizediseases', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.8 Does the study target a vulnerable population as defined in 456 CFR (children, prisoners, pregnant
                    women, mentally disabled persons, or [SIGNIFICANTLY] economically or educationally disadvantaged persons)?
                </label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="vulnerablepop" (change)="change('vulnerablepop', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.9 Does the research aim involve the study of Population Origins/Migration patterns?</label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="popmigration" (change)="change('popmigration', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.10 Does the research aim involve the study of psychological traits, including intelligence, attention,
                    emotion?
                </label>
                <div fxFlex></div>

                <mat-radio-group fxLayout="row" formControlName="psychtraits" (change)="change('psychtraits', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="duos-box">
                <label class="control-label rp-choice-questions">3.1.11 Does the research correlate ethnicity, race, or gender with genotypic or other phenotypic variables,
                    for purposes beyond biomedical or health-related research, or in ways that are not easily related to
                    Health? </label>
                <div fxFlex></div>
                <mat-radio-group fxLayout="row" formControlName="nothealth" (change)="change('nothealth', $event)">
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>

        </form>

    </mat-expansion-panel>

</mat-accordion>