<div fxFlex fxFlexFill fxLayout="column">

  <div fxFlex="100%" fxLayout="row">

    <div fxFlex fxLayoutAlign="start">
      <img src="/assets/images/broad_logo.png" />
    </div>

    <div fxFlex></div>

    <div fxFlex>
      <h3>Data Use Restrictions | Match Tool</h3>
    </div>

  </div>

  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="middle" fxLayoutGap="0.5em">

    <div fxFlex="50" fxLayout="column" style="width: 50%" fxLayoutGap="0.5em">
      <div>
        <app-dul-qs (consentFormReady)="processConsentForm($event)"></app-dul-qs>
      </div>
      <div>
        <app-dul-info [dulInfo]="dulInfo" (darChanged)="processDulInfoChange($event)"></app-dul-info>
      </div>
      <div>
        <app-dul-json [consentJson]="consentJson" (consentChanged)="processConsentJsonChange($event)"></app-dul-json>
      </div>
    </div>

    <div fxFlex="50" fxLayout="column" style="width: 50%; flex-wrap: wrap" fxLayoutGap="0.5em">
      <div>
        <app-dar-qs (darFormReady)="processDarForm($event)"></app-dar-qs>
      </div>
      <div>
        <app-dar-info [darInfo]="darInfo" (darChanged)="processDarInfoChange($event)"></app-dar-info>
      </div>
      <div>
        <app-dar-json [darJson]="darJson" (darChanged)="processDarJsonChange($event)"></app-dar-json>
      </div>
    </div>

  </div>

  <div fxFlex="100%" fxLayout="column" fxLayoutAlign="end">
    <button mat-raised-button color="primary" (click)="match(purpose, consent)">Match !</button>
    <app-results [results]="results"></app-results>
  </div>

</div>